<h1>Review for <%= @review.teacher.name %></h1>
<h3>by <%= @review.user.username %></h3>

<h3><%= @review.rating %> <%= "star".pluralize(@review.rating) %></h3>
<p> <%= @review.text %></p>

<% if review_owner?(@review) %>
<%= link_to("Edit review", edit_review_path(@review)) %>
<% end %>
