<!DOCTYPE html>
<html>
  <head>
    <title>RateMyLead</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <%= link_to("Log Out", '/logout', method: 'delete')%>
  <%= link_to("Add a Teacher", new_teacher_path) %>
  <%= link_to("Teacher Directory", teachers_path) %>
  <% end %>

   <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
